.hero.is-white a.navbar-item:hover, .hero.is-white a.navbar-item.is-active, .hero.is-white .navbar-link:hover, .hero.is-white .navbar-link.is-active {
    background-color:transparent;
}

.navbar-item img {
    max-height:50px;
    height: 100%;
}

.number {
    background-color: #000000;
    color:#ffffff;
    position: absolute;
    z-index:10;
    left:-15px;
    top:-15px;
    min-width: 2em;
}

.box {
	position: relative;
}

.spacing-sm {
    height:8px;
}


.spacing-lg {
    height:5rem;
}

.spacing-md {
    height:2rem;
}

.footer {
    color:#ffffff;
    background-color:#000000;
}

.input:focus, .input.is-focused, .input:active, .input.is-active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input {
    background-color:#ffffff;
    border:1;
    box-shadow:none;
    color:#000000;
}

.input::placeholder {
    color:#000000;
}

.section-sm {
    padding:1.5rem;
}


.tag:not(body) {
    font-size:1.2rem;
    border-radius:1rem;
    height:3rem;
    padding-left:1rem;
    padding-right:1rem;
}

.card {
    width:250px;
}

.image-logo{
    max-width: 7rem;
    max-height: 7rem;
    margin-left: 4.2rem;
    margin-top: 1.5rem;
}

#dropdown {
    position:absolute;
    right:0;
}

#dropdown .dropdown-trigger a {
    color:#999999;
}


.is-grey-bg {
    background-color:#eeeeee;
}

.is-grey-txt {
    color:#999999;
}

#flags .column{
    padding:1.5rem;
}
