{% include 'components/head.html' %}
<section class="hero is-fullheight">
          <div class="hero-body">
            <div class="container has-text-centered">
                <a href="https://salusmind.com">
                    <img src="{{ url_for('static', filename='img/logo-sm-2.png') }}"/>
                    <h1 class="title">Salus Mind</h1>
                </a>
                <div class="spacing-md"></div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                        <div class="box">
                            <div class="field">
                                <input class="input is-medium" type="text" placeholder="username">
                            </div>
                            <div class="field">
                                <input class="input is-medium" type="password" placeholder="password">
                            </div>
                            <div class="spacing-sm"></div>
                            <a class="button is-medium is-black is-fullwidth">Login</a>
                        </div>
                        <div class="spacing-sm"></div>
                        <a href="/forgot" class="button is-medium is-fullwidth">Forgot Password</a>
                        <div class="spacing-sm"></div>
                        <div class="spacing-sm"></div>
                        <a href="/signup" class="button is-medium is-fullwidth">Sign Up</a>
                    </div>
                    <div class="column"></div>
                </div>

            </div>
          </div>
        </section>
{% include 'components/endScripts.html' %}