{% include 'components/head.html' %}
<section class="hero is-small is-black">    
    <div class="hero-head">
	<nav class="navbar">
	  <div class="container">
	    <div class="navbar-brand">
	      <a href="/" class="navbar-item">
		<img src="/static/img/logo.png?q=1528589231" alt="Salus Mind">
	      </a>
	      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	      </a>
	    </div>
	    <div id="navMenu" class="navbar-menu">
	      <div class="navbar-end">
		<a href="/signup" class="navbar-item">
		  Sign Out
		</a>
	      </div>
	    </div>
	  </div>
	</nav>
    </div>
 
    <div class="hero-body">
        <div class="container">
          <h1 class="title"><a class="navbar-item">Hi, John.</a></h1>
        </div>
    </div>
</section>

<section class="hero is-medium has-text-centered">
    <div class="spacing-lg"></div>
    <div class="container"> 
        <div class="hero-head">
            <h1 class="title has-text-centered">My Profile.</h1>
        </div>
        
        <div class="hero-body">
            <p>
                Nothing to show...
            </p>
        </div>
    </div>
</section>

<section class="hero is-medium has-text-centered">
    <div class="container">
        <div class="box">
            <div class="hero-head">
                <h1 class="title">Registered Organizations.</h1>
            </div>
            <div class="hero-body">
                <p>
                    Nothing to show...
                </p>
            </div>
            <div class="hero-footer">
                <a class="button is-black is-medium is-fullwidth">Join</a>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium has-text-centered">
    <div class="container">
        <h1 class="title">Connected Accounts.</h1>
        <div class="spacing-sm"></div>
        <div class="columns">

            <div class="column">
                <div class="box">
                    <div class="spacing-sm"></div>
                    <span class="icon fa-3x">
                        <i class="fa fa-facebook-square"></i>
                    </span>
                    <div class="spacing-sm"></div>
                    <h3 class="subtitle">Facebook</h3>
                    <a class="button is-black is-medium is-fullwidth">Connect</a>
                </div>
            </div>

	    <div class="column">
                <div class="box">
                    <div class="spacing-sm"></div>
                    <span class="icon fa-3x">
                        <i class="fa fa-twitter-square"></i>
                    </span>
                    <div class="spacing-sm"></div>
                    <h3 class="subtitle">Twitter</h3>
                    <a class="button is-black is-medium is-fullwidth">Connect</a>
                </div>
            </div>

            
            <div class="column">
                <div class="box">
                    <div class="spacing-sm"></div>
                    <span class="icon fa-3x">
                        <i class="fa fa-reddit-square"></i>
                    </span>
                    <div class="spacing-sm"></div>
                    <h3 class="subtitle">Reddit</h3>
                    <a class="button is-black is-medium is-fullwidth">Connect</a>
                </div>
            </div>
          

            <div class="column">
                <div class="box">
                    <div class="spacing-sm"></div>
                    <span class="icon fa-3x">
                        <i class="fa fa-envelope-square"></i>
                    </span>
                    <div class="spacing-sm"></div>
                    <h3 class="subtitle">Gmail</h3>
                    <a class="button is-black is-medium is-fullwidth">Connect</a>
                </div>
            </div> 

        </div>
    </div>
</section>

{% include 'components/footer.html' %}
{% include 'components/endScripts.html' %}
